<!DOCTYPE html>
<html>
<head>
  <title>Slack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav_bar">
    <div class="slack_icon">
      <%= link_to root_path, class: "button" do %>
        <%= image_tag "Slack_Icon.png", style:"max-height: 100%;" %>
      <% end %>
    </div>
    <div class="session_icon">
      <% if @current_user %>
          <%= link_to logout_path, class: "button" do %>
            <h1>Logout</h1>
          <% end %>
        <% else %>
      <% end %>
    </div>
  </div>


    <%= yield %>


</body>
</html>
